# Task 1:

1.Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of

the given sequence is defined as follows:
    
The moving average sequence has n-k+1 elements as shown below.

The moving averages with k=4 of a ten-value sequence (n=10) is shown below

i 1 2 3 4 5 6 7 8 9 10

===== == == == == == == == == == ==

Input 10 20 30 40 50 60 70 80 90 100

y1 25 = (10+20+30+40)/4

y2 35 = (20+30+40+50)/4

y3 45 = (30+40+50+60)/4

y4 55 = (40+50+60+70)/4

y5 65 = (50+60+70+80)/4

y6 75 = (60+70+80+90)/4

y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Problem Statement:
    
Write a function to find moving average in an array over a window:
    
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [7]:
List_a = [3,5,7,2,8,10,11,65,72,81,99,100,150]

moving_seq = 3 # Number of Sequence
cummlative_sum , moving_average = [0],[] # Define varibale in list form

def Moving_average_fun(List_a, moveing_seq): # Function with two parametter
    N =  moving_seq # renaming the variable
    for i , j  in enumerate(List_a,1): # Enumeation the variable
        cummlative_sum.append(cummlative_sum[i-1] + j) # appendthe list

        if i>=N: # checking the condition
            moving_ave = round((cummlative_sum[i] - cummlative_sum[i-N])/N,2) #siling the list and summing the round up the value

            #can do stuff with moving_ave here
            moving_average.append(moving_ave) # appending the results
    return (moving_average), len(moving_average) # return the value and length of elements

Result_fun = Moving_average_fun(List_a,moving_seq)

print ("----"*10)
print (" User defined List :-\n {} \n User Define Window Size :-\t {} ".format(List_a,moving_seq))
print ("----"*10)
print (" Result Using above defined Funtion :\t")
print (" Moving average value :\n",Result_fun[0])
print (" Moving average seques has :- {}, values".format(Result_fun[1]))
print ("----"*10)

----------------------------------------
 User defined List :-
 [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
 User Define Window Size :-	 3
----------------------------------------
 Result Using above defined Funtion :
 Moving average value :
 [5.0, 4.67, 5.67, 6.67, 9.67, 28.67, 49.33, 72.67, 84.0, 93.33, 116.33]
 Moving average seques has :- 11, values
----------------------------------------

# Task 2

 1. How-to-count-distance-to-the-previous-zero

For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)

create a new column 'Y'

Consider a DataFrame df where there is an integer column 'X'

import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [6]:
import pandas as pd # Importing pandas as pd

df = pd.DataFrame(({'X':[7,2,0,3,4,2,5,0,3,4,0,4,5]})) # Suggest input
# using pandas inbuilt function cummulative sum and masking check with Zero return to "Y"
df["Y"] = (df.X.groupby(df.X.eq(0).cumsum().mask(df.X.eq(0))).cumcount() + 1).mask(df.X.eq(0), 0).tolist()

print ("Desired Out put Values")
print ("----"*10)
print ("Using Pandas Function out put :-\n",df)
print ("----"*10)

Desired Out put Values
----------------------------------------
Using Pandas Function out put :-
     X  Y
0   7  1
1   2  2
2   0  0
3   3  1
4   4  2
5   2  3
6   5  4
7   0  0
8   3  1
9   4  2
10  0  0
11  4  1
12  5  2
----------------------------------------

#2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [10]:
import numpy as np
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.940304
2015-01-02    0.167738
2015-01-05    0.847470
2015-01-06    0.341127
2015-01-07    0.829229
2015-01-08    0.839246
2015-01-09    0.328323
2015-01-12    0.370054
2015-01-13    0.489648
2015-01-14    0.023030
2015-01-15    0.096952
2015-01-16    0.707726
2015-01-19    0.151601
2015-01-20    0.204104
2015-01-21    0.533816
2015-01-22    0.780344
2015-01-23    0.243171
2015-01-26    0.776436
2015-01-27    0.255002
2015-01-28    0.014792
2015-01-29    0.868613
2015-01-30    0.101670
2015-02-02    0.273996
2015-02-03    0.620146
2015-02-04    0.759765
2015-02-05    0.104695
2015-02-06    0.590782
2015-02-09    0.065099
2015-02-10    0.789155
2015-02-11    0.912252
                ...
2015-11-20    0.433449
2015-11-23    0.808666
2015-11-24    0.107722
2015-11-25    0.581301
2015-11-26    0.800174
2015-11-27    0.328443
2015-11-30    0.005691
2015-12-01    0.711775
2015-12-02    0.010514
2015-12-03    0.774326
2015-12-04    0.903336
2015-12-07    0.709850
2015-12-08    0.296315
2015-12-09    0.900726
2015-12-10    0.499753
2015-12-11    0.354442
2015-12-14    0.257325
2015-12-15    0.197909
2015-12-16    0.001095
2015-12-17    0.545332
2015-12-18    0.652822
2015-12-21    0.759575
2015-12-22    0.976529
2015-12-23    0.955355
2015-12-24    0.562591
2015-12-25    0.534187
2015-12-28    0.112537
2015-12-29    0.342383
2015-12-30    0.097459
2015-12-31    0.798711
Freq: B, Length: 261, dtype: float64

#3. Find the sum of the values in s for every Wednesday

In [11]:
s[dti.weekday == 2].sum()

25.389337106258182

#4. Average For each calendar month

In [12]:
s.resample('M').mean()

2015-01-31    0.450472
2015-02-28    0.422594
2015-03-31    0.472090
2015-04-30    0.538044
2015-05-31    0.498703
2015-06-30    0.564939
2015-07-31    0.464042
2015-08-31    0.525629
2015-09-30    0.416969
2015-10-31    0.615392
2015-11-30    0.502998
2015-12-31    0.519776
Freq: M, dtype: float64

#5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [13]:
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\Users\biltu.khawas\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-01
2015-05-31   2015-04-01
2015-09-30   2015-06-15
2016-01-31   2015-12-22
dtype: datetime64[ns]